@use "variables" as *;
@use "mixins" as *;
@use "detailview" as *;
@use "loading" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-default {
  @include app;
  background: linear-gradient(0deg, #404547, #252e3a 51%);
  justify-content: center;
}

.app {
  @include app;
}

.loading__message {
  margin-top: 1rem;
}
