@use "variables" as *;

@mixin largeScreens {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin apps {
  padding: 1rem;
  width: 400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

@mixin card {
  padding: 1rem;
  margin-top: 2rem;
  backdrop-filter: blur(50px);
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  box-sizing: border-box;
}

@mixin title {
  margin-bottom: 1rem;
  border-bottom: 1px solid $border;
  padding-bottom: 0.5rem;
  width: 100%;
}
