@use "variables" as *;
@use "mixins" as *;
@use "detailview" as *;
@use "loading" as *;
@use "startscreen" as *;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-start {
  @include apps;
  background: linear-gradient(0deg, #404547, #252e3a 51%);
}

#app-detailview {
  @include apps;
}

#app-loading-detailview {
  @include apps;
  justify-content: center;
  background: linear-gradient(0deg, #404547, #252e3a 51%);
  height: 100vh;
}

.loading__message {
  margin-top: 1rem;
}
